@charset "UTF-8";

// Importar Bootstrap
@import "~bootstrap/scss/bootstrap";

// Estilos específicos adicionales
body {
  background-size: cover;
  background-position: center;
}

.main {
  padding: 20px;
  background-color: rgba(215, 255, 217, 0.7);
}

.inicio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(255, 0, 0);
  box-sizing: border-box;
  padding: 149px;
}

.section {
  display: flex;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: rotateY(0);
}

.text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgb(253, 253, 253);
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
  transform: rotateY(0);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sec1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.sec2 {
  padding: 50px;
  display: flex;
  flex-wrap: initial;
  justify-content: flex-start;
  align-items: normal;
  width: 100%;
  height: 100%;
}

.caja {
  height: 100%;
  width: 92%;
  border: 2px solid #ba0000;
}

.caja1 {
  line-height: 20px;
  text-align: start;
  width: 420px;
  height: 220px;
}

.caja img {
  max-width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

// Estilos responsivos
@media (max-width: 768px) {
  .sec1 {
    flex-direction: row;
    align-items: flex-start;
  }
  .sec2 {
    padding: 20px;
  }
  .caja {
    width: 100%;
    margin-bottom: 20px;
  }
}

// Estilos para el pie de página
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
