@charset "UTF-8";

/* Estilos generales */
body {
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 20px;
  background-color: rgba(215, 255, 217, 0.7);
}

/* Sección de juegos populares */
.populares{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}
.sec2 {
  padding: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja {
  position: relative;
  overflow: hidden;
  border: 2px solid #ba0000;
}

.caja img {
  width: 100%;
  height: auto;
}

/* Responsivo móvil */
@media (max-width: 768px) {
  .populares {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .caja {
    height: auto;
  }
  .caja img {
    height: auto;
  }
}

/* Header */
header {
  background-color: #006809;
}

.navbar {
  background-color: #006809 !important;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-nav .nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ffffff !important;
}

/* Footer */
footer {
  background-color: #006809;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; 
}

.redes {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  color: #ffffff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: color 0.3s;
}

.redes:hover {
  color: #000000;
}

.subir {
  background-color: rgb(0, 31, 145);
  color: #fff;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px red;
}

img.epic {
  width: 38.75px;
  height: 41.66px;
}

/*INICIO*/
.inicio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(255, 0, 0);
  box-sizing: border-box;
  padding: 149px;
}

.section {
  display: flex;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: rotateY(0);
}

.text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
  transform: rotateY(0);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sec1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.caja1 {
  line-height: 20px;
  text-align: start;
  width: 420px;
  height: 220px;
}

/* PERFIL */
.main {
  background-color: #d7ffd9;
  padding: 20px;
}

.datos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.sect {
  grid-column: 1/span 1;
}

.imgPerfil {
  justify-self: end;
  align-self: center;
  grid-column: 2/span 1;
  /* align-self: start; */
}

.imgPerfil img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ba0000;
}

.imgJuegoFav {
  grid-column: 1/span 2;
}

.imgJuegoFav img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.negrita {
  font-weight: bold;
  color: #ba0000;
}

/* RESEÑAS */
.reseñas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: rotateY(-180deg);
}

.item:hover .overlay {
  opacity: 1;
  transform: rotateY(0);
}

.item img {
  transition: transform 0.7s;
  width: 100%;
  height: auto;
}

.item:hover img {
  transform: rotateY(180deg);
}

/* RESPONSIVE movile */
@media (max-width: 768px) {
  .reseñas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .item {
    height: auto;
  }
  .item img {
    height: auto;
  }
  p {
    font-size: 15px;
  }
}

/* NOTICIAS */
#paginaNoticias {
  display: flex;
  flex-direction: column;
  min-height: 180vh; 
  min-width: 180vh;
  margin: 0;
}

main {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.navbar {
  background-color: #006809 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.bg-primary {
  background-color: #006809 !important;
}

.text-white {
  color: white !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.redes {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.redes:hover {
  color: #000000;
}

.subir {
  background-color: rgb(0, 31, 145);
  color: #fff;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px red;
}

img.epic {
  width: 38.75px;
  height: 41.66px;
}

/*Nuevas Reseñas*/
.contenedor {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 100%;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

.item2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.item input,
.item2 textarea {
  width: 100%;
  border: none;
}

/* RESPONSIVE movile */
@media (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
  .item{
    height: auto;
    width: auto;
  }
  .reseñasArea{
    height: auto;
    width: auto;
  }
}